a {
    color: white;
}

body {
    font-family: monospace;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    color: white;
    text-align: center;
    background-attachment: fixed;
}

.novo_jogo, jogo {
    text-align: center;
}

#questao_atual {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#btn_iniciar_jogo {
    margin: 5%;
}

.possiveis_respostas {
    display: block;
    font-weight: bold;
    line-height: 1.1;
}

.opcao {
    line-height: 1.1;
    text-align: left;
    padding: 4px;
}

.responder {
    margin-top: 10px;
}

img:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}